body{
    background-color:blanchedalmond;
}
#box1 {
    
  border: 2px solid black;
  background-color: white;
    width: 70%;
    margin-left: 5px;
}
#box2 {
   
  border: 2px solid black;
  background-color: white;
  width: 70%;
  margin-left: 5px;
}
#box3 {
    
  border: 3px dotted red;
  background-color: white;
  width: 70%;
  margin-left: 5px;
}
#paragraph {
    border: 3px dotted red;
  background-color: white;
  width: 95%;
  margin-left: 5px;
}
    
 